#home {
  background-color: #FFF;
}

.home-abled {
  background-color: green;
  opacity: 1;
}

.home-disabled {
  opacity: 0.9;
}

.content {
  position: relative;
}

#pay {
  align-items: center;
  background-color: #F78888;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pay-item {
  align-items: center;
  background-color: #ECECEC;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0 0 0;
  width: 85%;
}

.pay-item > img {
  height: 40px;
  width: 40px;
}

.charge-pop {
  background-color: #F3D250;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  justify-content: center;
  left: -100%;
  position: absolute;
  top: 15%;
  transition: 150ms;
  width: 70%;
  z-index: -100;
}

.charge-pop.active {
  left: 15%;
  transition: 150ms;
  z-index: 100;
}

#close-button {
  color: #000;
  flex-basis: 100%;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

#flex-area > .logo, #charge-name, #charge-price, #charge-button {
  flex: 50%;
}

#flex-area > img {
  height: 40px;
  width: 40px;
}

#charge-button {
  background-color: #5da2d5;
  color: #FFF;
  font-weight: bold;
}