#Input {
    background-color: #90CCF4;
    height: 100vh;
}

#form-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.item {
    background-color: #ECECEC;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    justify-content: center;
    margin: 100px 0 0 0;
    min-height: 200px;
    width: 85%;
}

#item-name, #item-price, #pay-type, #cat-type, #submit-button {
    flex: 0 1 50%;
}

#submit-button {
    background-color: #F3D250;
    font-weight: bold;
    max-height: 50px;
    margin-bottom: 1rem;
}