#Input {
    background-color: #90CCF4;
    height: 100vh;
    padding-top: 10%;
}

#form-container {
    background-color: #ECECEC;
    border-radius: 15px;
    margin: 0 5% 0 5%;
    padding: 20px 0 20px 0;
}

#submit-button {
    background-color: #F3D250;
    font-weight: bold;
    max-height: 50px;
}