.menu-bar {
    align-items: center;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
}

.humbarger-button, .menu-button {
    align-items: center;
    color: #000;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.menu-button:hover {
    background-color: #CFCFCF;
}

.side-bar {
    align-items: center;
    background-color: #F78888;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -40%;
    position: fixed;
    transition: 350ms;
    width: 40%;
    z-index: 100;
}

.side-bar.active {
    left: 0;
    transition: 350ms;
    z-index: 100;
}

.close-button {
    color: #000;
    margin: 1rem 1rem 0 auto;
}

.bar-button {
    color: #000;
    margin: 2rem 0 0 0;
    text-decoration: none;
}

.bar-button:hover {
    font-weight: bold;
}
