#setting {
    background-color: #90CCF4;
    height: 100vh;
}

.area-box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.set-title {
    margin: 30px 0 5px 0;
}

.list-item {
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}