.Home {
  background-color: #F78888;
  height: 100vh;
}

.menu-bar {
  background-color: #ECECEC;
  display: flex;
  flex-direction: row;
  height: 8%;
  justify-content: space-between;
  align-items: center;
}

.humbarger-button, .inuput-button {
  padding: 4%;
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-item {
  background-color: #ECECEC;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0 0 0 ;
  width: 85%;
}