body {
    text-align: center;
}

.Input {
    background-color: #90CCF4;
    height: 100vh;
  }

.menu-bar {
    align-items: center;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    height: 8%;
    justify-content: space-between;
}

.humbarger-button, .home-button {
    padding: 4%;
}

/* .content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.add-button {
    margin-left: auto;
    padding: 4%;
} */

form {
    display: inline-block;
}

.item {
    align-items: 'center';
    background-color: #ECECEC;
    border-radius: 15px;
    margin: 1rem 0 0 0;
    width: 85%;
}

#submit-button {
    background-color: #F3D250;
    font-weight: bold;
    margin: 2em;
}